@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&family=Space+Grotesk:wght@700&display=swap');

:root {
    --p-color : #70757C;
    --btn-color : #F7CA18;
    --step-bc : #F5F6F8;
    --footer-color : #413906;
    --span-color : #595959;
}

body {
    margin: 0;
}

* {
    animation-fill-mode: forwards;
}

a {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

p {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: var(--p-color);
}

h3 {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
}

span {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: var(--span-color);
}

.container {
    padding: 0px 10%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin: 40px 0;
}

nav .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav .mode{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 212px;
    height: 60px;
    padding: 0 10px;
    background: var(--step-bc);
    border-radius: 5px;
}

nav .mode div {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 90px;
    height: 40px;
    cursor: pointer;
}

nav .mode .dark-mode {
    color: var(--p-color);
}

nav .mode div p {
    font-family: 'Space Grotesk';
    font-weight: lighter;
}

nav .mode .active {
    background: white;
    color: black;
}

nav .mode .active p {
    margin: 0;
    color: inherit!important;
}

.tabnav {
    margin: 0 10%;
    padding: 0;
    display: flex;
    align-items: center;
    height: 40px;
    gap: 24px;
    border-bottom: 3px solid var(--step-bc);
}
 
.tabnav a {
    height: 40px;
    display: flex;
    align-items: center;
    font-weight: 600;
 }

.tabnav .active {
    border-bottom: 3px solid var(--btn-color);
    height: 40px;
}

.tabnav .active span {
    color: black;
}

.tabnav .search , .tabnav .search span{ 
    margin-left: auto;
    font-weight: normal;
}



.content {
    margin: 60px 0; 
    display: grid;
    grid-template-rows: 50% 1fr;
    grid-template-columns: repeat(9 , 1fr);
    gap: 40px;
    height: 100%;
}

.content .card {
    background: var(--step-bc);
    border-radius: 5px;
    height: 100%;   
    padding-bottom: 10px;
} 

.content .card img {
    width: 100%;
    height: 50%;
}

.content .card .info {
    margin: 2em;
    height: 50%;
}

.content .card .info-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .card .info-top h3 {
    margin: 0;
}

.content .card1 {
    grid-area: 1/1/2/7;
}

.content .card2 {
    grid-area: 1/7/2/10;
}

.content .card3 {
    grid-area: 2/1/3/5;
}

.content .card4 {
    grid-area: 2/5/3/10;
}
